.App {
  --color-bg: rgb(38, 46, 70);
  --color-fg: white;

  --sizing-grid: 5px;
  --sizing-elem: var(--sizing-grid);
  --sizing-block: calc(var(--sizing-grid) * 2);
  --sizing-vert-rhythm: calc(var(--sizing-grid) * 4);


  background-color: var(--color-bg);
  color: var(--color-fg);
  padding: 16px;
  width: 500px;
}

.App-header {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.converters {
  display: flex;
}

.converters span {
  width: 50px;
  text-align: center;
}

.currency {
  flex-grow: 1;
  width: 200px;
}