.App {
  background-color: #282c34;
  color: white;
  padding: 16px;
  width: 500px;
}

.App-header {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.converters {
  display: flex;
}

.converters span {
  width: 50px;
  text-align: center;
}

.currency {
  flex-grow: 1;
  width: 200px;
}